body {
    color: white;
    background-color: black;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    text-align: center;
}

h1 {
    color: yellow;
    border: 4px dotted mediumspringgreen;
    border-radius: 10px;
    text-align: center ;
    background-color: rgba(33,76,26, 0.64);
    text-shadow: blue 10px 5px 5px;
}

h2 {
   size: 1rem;
    color: blue;
}
img {
    height: 200px;
    width: 400px;
}

.longeur {
    text-align: center;
    max-width: 375px;
    margin-left: auto;
    color: white;
    margin-right: auto;
}

footer {
   background-color: gray;
    text-align: center;
    color: black;
    border: black solid 4px;
    border-radius: 10px;
}

li {
    list-style-position: inside;
}

p {
    color: black;
}

main {
    background-image: url("../images/fond-arriere-plan-brillant_1390-34.webp");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
}

ul {
    display : inline-block;
    margin :auto;
    text-align:left;
}


